<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JDBC</display-name>
  <servlet>
    <servlet-name>myServlet</servlet-name>
    <servlet-class>com.myServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prepStmtServlet</servlet-name>
    <servlet-class>com.prepStmtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prepStmtServlet</servlet-name>
    <url-pattern>/prepStmtServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MetaData_BatchExe</servlet-name>
    <servlet-class>com.MetaData_BatchExe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetaData_BatchExe</servlet-name>
    <url-pattern>/MetaData_BatchExe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Callable</servlet-name>
    <servlet-class>com.Callable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Callable</servlet-name>
    <url-pattern>/Callable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransactionMgmt</servlet-name>
    <servlet-class>com.TransactionMgmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionMgmt</servlet-name>
    <url-pattern>/TransactionMgmt</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>